.hero-heading-left {

    background-color: #f5f7fa;
    border-bottom: 1px solid #e4ebf3;
    padding: 80px 30px;
    position: relative;
    }
    
.container { 
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    }
.hero-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    }
 .hero-split {
        max-width: 46%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        transform: translate(0);
    }
.img {
        mix-blend-mode: normal;
        object-fit: fill;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 2);
        margin-left: auto;
        margin-right: auto;
        }

.body {
border-radius: 20px;
font-family: poppins;
}

@media screen and (max-width: 991px) {
.container {
max-width: 728px;

}
}

.hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
    }
    
.hero-split { 
    max-width: 100%;
    margin-bottom: 40px;
    
    }
@media screen and (max-width: 767px) {
 .hero-heading-left {
        padding: 60px 15px;
        
        }  
        }
        
@media screen and (max-width: 479px) {
        .container {
        max-width: none;
        }
    }